<div class="container">
	<div id="pagination-top" class="page-buttons">
		<!-- Кнопки для перехода по страницам (вверху страницы) -->
	</div>

	<div class="preloader" id="preloader">
		<!-- Прелоадер-->
		<img src="/media/images/fountain.gif" alt="Загрузка постов...">
	</div>

	<div id="posts-container" class="posts-container">
		<!-- Здесь будут выводиться посты -->
	</div>

	<div id="pagination-bottom" class="page-buttons">
		<!-- Кнопки для перехода по страницам (внизу страницы) -->
	</div>


</div>


