<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a class="logo__link" href="https://bpmlab.ru/" target="_blank">
                    <img class="logo__img" src="media/images/bpm_logo.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="menu__call-name">Дмитрий Кропачев</div>
					<a class="nav-link" href="tel:+79676139415">
						<div class="nav-span" style="">8(967)613-94-15</div>
					</a>
            </nav>
        </div>
    </div>
	<hr class="divider">
</header>